[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim"]
	path = nvim
	url = https://github.com/NvChad/NvChad
[submodule "custom"]
	path = nvim/lua/custom
	url = git@github.com:pwjworks/MyNvchad.git
